* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.main-header {
  width: auto;
  height: 60px;
  border: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-logo {
  height: 40px;
  width: 208px;
  margin-left: 2rem;
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
}
.nav-list1 {
  width: 100%;
  height: 1.875rem;
  margin-bottom: 0.5rem;
}
.product-select {
  margin: 0;
  padding: 0;
  border: 0;
}

.nav-list2 {
  width: 100%;
  height: 1.875rem;
  margin-bottom: 0.6rem;
}
.sign-up-button {
  width: 79px;
  height: auto;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid black;
  color: hsl(207, 100%, 50%);
}
.four-column-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
}
.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}
.content1 {
  width: auto;
  height: auto;
  background-color: hsla(240, 100%, 50%, 0.979);
}
.content1-paragraph {
  width: auto;
  height: auto;
  color: white;
  margin-left: 3rem;
}
.content1-sign-up {
  width: 480px;
  height: auto;
  background-color: white;
  border: 0.125rem solid white;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  margin-left: 2.5rem;
}

input,
label,
button {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgb(245, 243, 243);
}
.create-account-button {
  background-color: hsl(207, 100%, 50%);
  color: white;
}
.grid-auto-flow {
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
  text-align: center;
}
.two-column-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
}
.content2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px 120px 80px;
  border: 1px solid green;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
h2 {
  font-size: 10px;
  text-align: center;
  margin-top: 36px;
}
.icon-inline {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  margin-left: 280px;
  align-items: center;
  justify-items: center;
}
.customer-story-nav {
  font-size: 15px;
  text-align: center;
  margin-top: 36px;
}

/*  footer */
.bg-blue {
  background-color: #050563;
}
h2 {
  color: rgb(245, 243, 243);
  font-size: 20px;
  margin-right: 200px;
}
.main-footer {
  color: #979494;
}
.footer-5column {
  display: grid;
  grid-template-columns: 430px repeat(4, 1fr);
}
.footer-logo {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  border: 2px dotted black;
}
.footer-social-icon-nav {
  width: 50px;
  height: 50px;
  border: 2px dotted black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 1rem;
}
